.comment-index-content {
    font-size: 13px;
    color: #252525;
}

.comment-index-content a {
    color: #806480;
}

.comment-container {
    margin: 4px 0 0;
    padding: 4px 12px;
}

.is-parent div.comment-container {
    width: 465px;
}

.is-child div.comment-container {
    width: 421px;
}

div.comment-items {
    margin: 4px -12px 0 -12px;
    padding-top: 4px;
    border-top: 1px solid thistle;
}

.comment-text {
    background-color: #faf3fa;
    padding: 8px 10px;
    border-radius: 18px;
    word-break: break-word;
}

.comment-actions {
    font-size: 12px;
    color: gray;
    margin-left: 47px;
}

.comment-actions a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.is-child .comment-actions {
    margin-left: 35px;
}

.comment-dot {
    font-size: 8px
}

.comment-text a {
    font-weight: 600;
    margin-right: 5px;
}

.comment-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


// .comment-form {
//     border: 2px solid blue;
// }

.comment-subindex > div,
div.reply-form {
    margin-left: 46px;
}

div.reply-form {
    padding: 6px 12px 0px;
    display: none;
}

.comment-index-item.show-reply-form div.reply-form.show-reply-form {
    display: flex;
}

.comment-index-item.show-edit-form div.reply-form.show-edit-form {
    display: flex;
}

div.comment-form {
    padding-top: 8px;
}

// .comment-items li {
//     border: 1px solid orange;
// }

.is-child .comment-profile-picture,
.is-parent .comment-profile-picture,
.cr-form-profile-picture {
    width: 32px;
    height: 32px;
    border: none;
    overflow: hidden;
    position: relative;
    background: thistle;
    margin-right: 5px;
    border-radius: 50%;
    flex-shrink: 0;

}

.is-parent .comment-profile-picture img,
.is-child .comment-profile-picture img,
.cr-form-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    bottom: 0;
}

.is-child .comment-profile-picture {
    width: 20px;
    height: 20px;
}

.reply-form .cr-form-profile-picture {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.cr-form-input > textarea:focus {
    outline: none;
}

.cr-form-input textarea {
    width: 447px;
    min-height: 31px;
    height: 31px;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid thistle;
    border-radius: 18px;
    background-color: #faf3fa;
    resize: vertical;

}

.reply-form .cr-form-input textarea {
    width: 414px;
}

.comment-form, .reply-form {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
}

div.comment-text {
    position: relative;
}

div.comment-text div.hidden-ellipse {
    position: absolute;
    right: -20px;
    top: 10px;
    color: gray;
    display: none;
}

.comment-text {
    position: relative;
}

.comment-text div.poster-actions.trigger {
    position: absolute;
    right: -20px;
    top: 8px;
}

.comment-text div.poster-actions.trigger > i {
    font-size: 12px;
}

.comment-text .ellipse-dropdown {
    z-index: 2;
}