// for navbar
li.friend-requests-icon {
    position: relative;
}

div.friend-requests-dropdown {
    position: absolute;
    color: black;
    font-weight: 200px;
    background-color: white;
    width: 430px;
    border: 1px solid black;
    left: -300px;
}