.profile {
    background-color: rgb(253, 242, 253);
    min-height: 1500px;
}

.profile-container {
    padding-top: 42px;
    width: 981px;
    margin: 0 auto;
    // background-color: powderblue; // remove later
    min-height: 1500px;
}

.profile-content {
    width: 850px;
    min-height: 1500px;
    margin: 0;
}

.profile-component {
    background-color: white;
}

.no-cover-image {
    background-color: black;
    height: 205px;
}

.no-cover-image img {
    display: none;
}

.has-cover-image {
    height: 315px;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.has-cover-image img {
    width: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    bottom: 0;
}

.timeline-navbar-container {
    position: relative;
    height: 45px;
    box-sizing: border-box;
    border-bottom: 0.5px solid thistle;
    border-left: 0.5px solid thistle;
    border-right: 0.5px solid thistle;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 12px;
}

.profile-picture {
    width: 160px;
    height: 160px;
    border: 4px solid white;
    box-shadow: 0 0 0pt 1pt thistle;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 22.5px;
    left: 20px;
    background: thistle;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    bottom: 0;
}

.profile-picture div {
    width: 160px;
    height: 80px;
    position: absolute;
    margin-top: 80px;
    color: white;
    background-color: black;
    opacity: 50%;
    text-align: center;
    padding-top: 30px;
    display: none;
    font-size: 13px;
    font-weight: 400;
}

.profile-picture:hover > div {
    display: block;
    cursor: pointer;
}

.profile-picture:hover > div:hover {
    display: block;
    background-color: black;
    opacity: 75%;
}

.profile-name {
    font-size: 24px;
    color: white;
    display: inline-block;
    position: absolute;
    left: 200px;
    bottom: 60px;
    text-shadow: 1px 0px gray
}

.timeline-navbar {
    width: 649px;
    // border: 1px solid red;
    float: right;
}

.timeline-navbar ul {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: rgb(128, 100, 128);
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    border-left: 1px solid thistle;
}

.timeline-navbar li {
    border-right: 1px solid thistle;
    padding: 14px 17px;
    cursor: pointer;
}


.timeline-navbar li:hover {
    background: rgb(253, 242, 253);
}


.timeline-navbar .fa-caret-down {
    margin: 0 0 0 7px;
}

.timeline-navbar .fa-lock {
    margin: 0 8px 0 0;
    font-size: 12px;
}

.timeline-content, .about-content {
    padding: 12px;
    background-color: white;
    border: 0.5px solid thistle;
    border-radius: 3px;
}

.about-header {
    border: 5px red solid;
}

.about-body {
    border: 5px orange solid;
    display: flex;
    justify-content: flex-start;
}

.about-menu {
    border: 5px blue solid;
    width: 247px;
}

.about-body-content {
    border: 5px green solid;
    width: 642px;
}