.timeline-right > div, .timeline-left > div {
    padding: 12px;
    background-color: white;
    border: 1px solid thistle;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.timeline-content {
    display: flex;
    justify-content: space-between;
}

.timeline-left {
    width: 323px;
}

.timeline-right {
    width: 515px;
}

.timeline-left > div.timeline-friends-content,
.timeline-left > div.timeline-photos-content,
.timeline-left > div.timeline-intro-content {
    margin: 0 0 10px 0;
    padding: 0;
}



.timeline-friends-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 5px 4px;
}

.timeline-friends-list > li {
    padding: 0 2px 2px 2px;
    margin-bottom: 10px;
    width: 100px;
}

.timeline-friends-list > li:nth-child(3n) {
    padding: 0 0px 2px 2px;
    width: 100px;
}


.timeline-friends-list .friends-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.timeline-friends-list .friend-name a {
    color: #806480;
    font-size: 12px;
}

.friend-name a:hover {
    text-decoration: underline;
}

.timeline-friends-list .friend-name {
    margin-top: 5px;
}

.timeline-header {
    margin: 0 12px;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    color: #252525;
}

.timeline-header-icon {
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    width: 24px;
    color: white;
    background: rgb(255, 130, 151);
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.timeline-header-icon i.fa-image {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.timeline-photos-header-left .timeline-header-icon {
    background: rgb(160, 214, 78);
    padding-top: 0.5px;
}

.timeline-intro-header-left .timeline-header-icon {
    background: #b18bb1;
    line-height: 24px;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 0.5px;
    padding-top: 0.5px;
}



.timeline-header-text {
    font-size: 16px;
    margin-right: 1px;
}

.timeline-header span > a:hover {
    text-decoration: underline;
}

span.dot {
    color: gray;
    margin-right: 4px;
    font-size: 8px;
}

.timeline-header-subtext {
    color: gray;
    font-size: 14px;
}

.bio-body, .no-bio-body {
    padding: 8px;
    font-size: 12px;
    color: #252525;
    text-align: center;
}

.no-bio-body {
    color: gray;
}

.bio-container {
    text-align: center;
}

.bio-container > button {
    background-color: rgb(250, 243, 250);
    border-color: thistle;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(105, 105, 105);
    transition: 0.3s ease all;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 297px;
}

.bio-container > button:hover {
    background-color: rgb(233, 227, 233);
}

.bio-container textarea {
    padding: 8px 16px;
    font-size: 12px;
    width: 296px;
    height: 76px;
    resize: none;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #faf3fa;
}

.bio-container textarea:focus {
    outline: none;
}

.bio-form {
    background: #faf3fa;
    margin: 0 12px 10px 12px;
    padding-bottom: 2px;
    border-radius: 3px;
}
.bio-buttons {
    text-align: right;
}

.bio-buttons button.cancelled {
    margin-right: 4px;
}